.book-filter {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.book-filter input {
    border-radius: 100px;
    margin-inline-end: 5px;
    width: 200px;
    text-align: center;
}

.book-filter button {
    border-radius: 100px;
    transition: background-color 0.6s;
}

.book-filter button:hover {
    cursor: pointer;
    background-color: brown;
}

.book-filter input:focus {
    outline: none;
}